# Analyze a subset with pandas

---

Big data analysis always start with a manageable subset of the data, this allows you to:

* Explore it with familiar tools like NumPy and pandas, and
* Experiment with various computations you wish to do faster.

After you have your computations ready, you can focus on scaling up!


## Introduce dataset: Airline on-time performance data

In this tutorial, we will analyze **the ["airline on-time performance" dataset](https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FGJhttps://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FGJ) -- a collection of flight records maintained by the U.S. Department of Transportation's Bureau of Transportation Statistics (BTS)**.

This dataset provides information about the on-time performance of domestic flights operated by large air carriers in the United States, including flight delays, cancellations, and diversions. It covers flights operated by 23 major airlines and the records from 1987-present day.

We will work with data from 2003-2022, which is ~70 GB in size on disk.

## Read a subset with pandas

Let's start by reading data for one year, 2022.

The data is stored as one CSV file per month of each year:

<img src="./images/csv-files.png">

The following cell prepares has some preliminary credential needed, we'll take a closer look at cloud storage in a future notebook.

In [1]:
import json
import gcsfs

token = json.load(open("prep/credentials.json"))
fs = gcsfs.GCSFileSystem(token=token)

files = [f"gcs://{f}" for f in fs.glob("quansight-datasets/airline-ontime-performance/csv/*2022.csv")]

You can read only one file at a time in a pandas DataDrame, so we'll each 12 files for each month and concatenate them:

In [2]:
import pandas as pd

In [3]:
with open('prep/dtypes.json', 'r') as f:
    dtypes = json.load(f)

In [4]:
# this cell will take ~2.5 minutes to execute on a small/medium machine profile

df_list = []

for file in files:
    df_temp = pd.read_csv(file,
                          dtype=dtypes,
                          storage_options={"token": token}) # We'll cover storage_options in a future chapter
    df_list.append(df_temp)

In [5]:
df = pd.concat(df_list)

## Explore the dataset

While the previous cells execute, let's [learn more about the dataset](https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FGJ).

Go to the link and take a look at the information available.

In [6]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DIV4_WHEELS_OFF,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_AIRPORT_ID,DIV5_AIRPORT_SEQ_ID,DIV5_WHEELS_ON,DIV5_TOTAL_GTIME,DIV5_LONGEST_GTIME,DIV5_WHEELS_OFF,DIV5_TAIL_NUM
0,2022,2,4,1,5,4/1/2022 12:00:00 AM,9E,20363,9E,N132EV,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,<NA>
1,2022,2,4,1,5,4/1/2022 12:00:00 AM,9E,20363,9E,N133EV,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,<NA>
2,2022,2,4,1,5,4/1/2022 12:00:00 AM,9E,20363,9E,N133EV,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,<NA>
3,2022,2,4,1,5,4/1/2022 12:00:00 AM,9E,20363,9E,N133EV,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,<NA>
4,2022,2,4,1,5,4/1/2022 12:00:00 AM,9E,20363,9E,N133EV,...,<NA>,<NA>,<NA>,NaN,NaN,<NA>,NaN,NaN,<NA>,<NA>

Let's also list some column names for quicker access later, and note that the column names are capitalized in our dataset.

In [31]:
df.columns[:61]

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'DISTANCE_GROUP', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'],
      dtype='object')

Now let's perform some quick computations to get a better understanding of the dataset.

### What is the total time people spent on a flight in 2022?

In [8]:
time_in_flight = df["ACTUAL_ELAPSED_TIME"].sum()

print(f"People spent a total of {time_in_flight} minutes on a domestic flight, in 2022 in the USA; \nwhich is ~{round(time_in_flight / (60*24*30*12), 2)} years in aggregate.")

People spent a total of 823399905.0 minutes on a domestic flight, in 2022 in the USA;
which is ~1588.35 years in aggregate.

### Your turn: What are the maximum and average delays in flight departures?

In [ ]:
# Your code here.

In [10]:
# Answer:

max_dep_delay = df["DEP_DELAY"].max()
print(f"The maximum departure delay in departure is {max_dep_delay} minutes, or ~{max_dep_delay // 60} hours.")

mean_dep_delay = df["DEP_DELAY"].mean()
print(f"The average departure delay in departure is {round(mean_dep_delay, 2)} minutes.")

### Which airport/airline has the most flight departure and arrival delays?

**Airport:**

In [11]:
df.groupby("ORIGIN")["DEP_DELAY"].count().idxmax()

'ATL'

In [12]:
df.groupby("ORIGIN")["ARR_DELAY"].count().idxmax()

'ATL'

That's the code for Hartsfield-Jackson Atlanta International Airport, interesting!

**Airline:**

In [13]:
df.groupby("OP_CARRIER")["DEP_DELAY"].count().idxmax()

'WN'

In [14]:
df.groupby("OP_CARRIER")["ARR_DELAY"].count().idxmax()

'WN'

'WN' is the code for Southwest Airlines.

### Your turn: Which type of delay contributes most to the overall departure delay for each month?

If it's Carrier Delay for a particular month, which carrier is the most responsible for it?

In [ ]:
# Your code here.

In [ ]:
# Answer:

df.groupby("MONTH") \
['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'] \
.sum() \
.idxmax(axis=1)

### Get all "DISTANCE" values in kilometers instead of miles

In [64]:
df.DISTANCE.apply(lambda x: x*1.609344)

0          800.290910
1         1121.240911
2         4289.059098
3         1396.340912
4         2346.686368
             ...
557489    4218.200007
557490    4218.200007
557491    1617.254548
557492     737.768183
557493    1100.400002
Name: DISTANCE, Length: 6172030, dtype: float64

## Need for scale: Try to read the entire dataset in pandas

In [20]:
files = [f"gcs://{f}" for f in fs.glob("quansight-datasets/airline-ontime-performance/csv/*.csv")]

In [22]:
with open('prep/dtypes.json', 'r') as f:
    dtypes = json.load(f)

In [ ]:
# kernel restarts!

df_list = []

for file in files:
    df_temp = pd.read_csv(file, dtype=dtypes, storage_options=storage_options)
    df_list.append(df_temp)

---

## Next

Let's chat briefly about [storage formats](02-storage-formats.ipynb)!